# Seattle Salary Breakdown

In [1]:
# Data sourced from -- https://data.seattle.gov/
# URL - https://data.seattle.gov/City-Business/City-of-Seattle-Wage-Data/2khk-5ukd

## Imports

##### Import dependencies (Python Libraries)

In [2]:
import pandas as pd

##### Read in the dataset

In [5]:
wages = pd.read_csv('Seattle_Wages_Data.csv')

## Descriptive Stats

##### Run basics descriptive statistics -- use the following methods:
##### 1. shape, 2. describe, 3. info, 4. columns

In [7]:
wages.shape

(12346, 5)

In [9]:
wages.describe()

       Hourly Rate
count  12346.000000
mean      38.974306
std       13.724498
min        5.110000
25%       28.830000
50%       38.850000
75%       48.430000
max      166.910000

In [10]:
wages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12346 entries, 0 to 12345
Data columns (total 5 columns):
Department      12346 non-null object
Last Name       12346 non-null object
First Name      12346 non-null object
Job Title       12346 non-null object
Hourly Rate     12346 non-null float64
dtypes: float64(1), object(4)
memory usage: 482.3+ KB

In [11]:
wages.columns

Index(['Department', 'Last Name', 'First Name', 'Job Title', 'Hourly Rate '], dtype='object')

##### Let's visualize our dataset -- use the following methods:
##### 1. head, 2. tail

In [ ]:
wages.head()

In [ ]:
wages.tail()

## Indexing

### Question -- Who earns the most per hour?

##### Index for the Hour Rate column and find the max. Save the output to a variable.

In [43]:
highest_wage = wages['Hourly Rate '].max()

##### Let's try boolean indexing

In [44]:
wages[wages['Hourly Rate '] == highest_wage]

,Department,Last Name,First Name,Job Title,Hourly Rate
1879,City Light,Weis,Larry,City Light General Mgr&CEO,166.91

### Question -- How many people work for City Light?

##### Use boolean indexing to find all employees that work for City Light. Save that output (dataframe) to a variable called 'City_Light_employees'.

In [28]:
City_Light_employees = wages[wages['Department'] == 'City Light']

In [29]:
City_Light_employees

,Department,Last Name,First Name,Job Title,Hourly Rate
117,City Light,Abbott,Jeremy,Cblspl-Net Area,44.92
118,City Light,Abel,Deborah,Maint Laborer,25.39
119,City Light,Ablow,Elizabeth,"StratAdvsr2,Utils-BU",49.54
120,City Light,Abraham,Jay,Hydroelec Maint Mach,42.54
121,City Light,Abraham,John,"Sfty&Hlth Spec,Sr",45.87
122,City Light,Abt,John,Cblspl-Net Area,44.92
123,City Light,Adams,Courtney,"Capital Prjts Coord,Asst *",37.16
124,City Light,Adams,Jason,"Mgmt Systs Anlyst,Sr",45.11
125,City Light,Adams,Shelly,"Envrnmtl Anlyst,Sr",48.44
126,City Light,Adams,Solomon,Lnwkr,46.27
127,City Light,Adkinson,Kevin,Hydroelec Maint Mach,44.31
128,City Light,Adler,Susan,"Elecl Engrng Spec,Sr",48.84
129,City Light,Ahn,Jeanie,Economist,41.57
130,City Light,Airhart,Jami,Cust Svc Rep,26.75
131,City Light,Albergine,David,"StratAdvsr2,Utils-BU",55.55
132,City Light,Aldridge,Cynthia,"Camp Svc Aide,Sr",21.49
133,City Light,Aldridge,Joey,Pwr Structs Mechanic,39.18
134,City Light,Alexander,Brynne,Student Engr Intern *,21.03
135,City Light,Alexander,James,Line C CC,52.06
136,City Light,Alexander,Katrina,"Elecl Engr,Assoc",45.92
137,City Light,Alexander,Richard,Lnwkr,46.27
138,City Light,Ali,Mohamed,"Elecl Engrng Spec,Sr",45.36
139,City Light,Aliment,Dean,Strucl Iron Wkr,44.92
140,City Light,Allen,Cecil,Arboriculturist,34.48
141,City Light,Allen,Ronald,Lnwkr,46.27
142,City Light,Allen,Shane,Lnwkr-Asg Pwrline Clearance,49.65
143,City Light,Allen III,Grant,Elecl Constr&Maint Supv-BU,59.75
144,City Light,Allie,Dora,"Manager1,P&FM-BU",53.64
145,City Light,Allie,Jacob,Admin Spec I-BU *,22.77
146,City Light,Alpers,Hagen,"MatSup,Elec-Asg Cs &/or Cdt",33.90
...,...,...,...,...,...
1937,City Light,Yamamoto,Kaitlyn,Cooperative Intern *,16.12
1938,City Light,Yanase,Mie,Res&Eval Asst-BU,31.93
1939,City Light,Yang Abreu,Joanna,Student Engr Intern *,21.03
1940,City Light,Ybarra,Arthur,Lnwkr,46.27
1941,City Light,Yi,Michael,Cblspl-Asg Locator,44.92
1942,City Light,Yi,William,Mgmt Systs Anlyst *,35.16
1943,City Light,Yoder-Williams,Mary,"StratAdvsr2,Utils-BU",50.51
1944,City Light,Yogeswaran,Nadarajah,Laborer-Inserting Machine Op,22.95
1945,City Light,Yoo,Ha,Cooperative Intern *,16.12
1946,City Light,York,Robert,Cblspl CC-Net Area,50.54
1947,City Light,Yousos,Saynop,Admin Spec II-BU,26.45
1948,City Light,Yslas,Frank,Elctn-Con,44.92
1949,City Light,Zadehgol,Hamed,"Elecl PwrSystsEngr,Prin-Mrt",67.54
1950,City Light,Zagata,David,Meter Reader *,22.23
1951,City Light,Zakai,Yochanan,"Pwr Anlyst,Sr",45.36
1952,City Light,Zaren,Anthony,Hydroelec Maint Mach,44.31
1953,City Light,Zartman,Albert,Maint Laborer,25.39
1954,City Light,Zegers,Thomas,Lnwkr,46.27
1955,City Light,Zhang,Jie,"Pwr Anlyst,Asst *",32.63
1956,City Light,Zheng,Griffin,Elecl Pwr Systs Engr,58.35
1957,City Light,Zhong,Kami,"Elecl Engr,Asst II",37.41
1958,City Light,Zhu,Yiying,Muni Government Intern *,19.76
1959,City Light,Zhuang,Liman,"Elecl PwrSystsEngr,Prin-Mrt",65.21
1960,City Light,Ziemianek,Bernard,"Electric Util Exec 3,Dir",109.58
1961,City Light,Zimmerly,Elizabeth,"Manager2,Utils-BU",49.47
1962,City Light,Zimmerman,Daniel,Hydro Maint Wkr I-Gen,27.12
1963,City Light,Zimmerman,Travis,Hydro Maint Wkr I-Gen,27.12
1964,City Light,Zimmermann,Elliott,"Enrgy Mgmt Anlyst,Sr",51.65
1965,City Light,Zitkovich,Andrew,Rights-Of-Way Maint Wkr,29.88
1966,City Light,Zook,Katie,"Mgmt Systs Anlyst,Asst",31.93

##### Apply the describe method to the DataFrame -- 'City_Lights_employees'. Index on 'Job Title'

In [30]:
City_Light_employees['Job Title'].describe()

count      1850
unique      328
top       Lnwkr
freq        118
Name: Job Title, dtype: object

### Question -- What is the average hourly salary earned at City Light?

##### From the 'City_Light_employees' DataFrame index on 'Hourly Rate '. Apply the method -- mean() to find the average salary. Save that output to a variable called -- 'avg_City_Light_rate'

In [37]:
avg_City_Light_rate = City_Light_employees['Hourly Rate '].mean()

### Question -- How much more does the highest earning gov worker earn than the average City Light employee?

In [45]:
highest_wage - avg_City_Light_rate

124.45930270270304

### Question -- How many other departments are there?

##### From the wages DataFrame index on 'Departments'. Apply the method -- describe().

In [46]:
wages['Department'].describe()

count                 12346
unique                   36
top       Police Department
freq                   1966
Name: Department, dtype: object

### Question -- How many positions are there in the Police Department? Which one earned the most and the least?

##### From the wages DataFrame boolean index on 'Police Department'. Save the output to a variable called -- 'Police_Dept_employees'

In [58]:
Police_Dept_employees = wages[wages['Department'] == 'Police Department']

In [60]:
Police_Dept_employees.head()

             Department Last Name First Name           Job Title  Hourly Rate
6110  Police Department    Aagard       Lori       Pol Sgt-Patrl         56.19
6111  Police Department  Aakervik        Dag  Pol Ofcr-Detective         50.38
6112  Police Department      Abdi    Habtamu  StratAdvsr2,Exempt         49.03
6113  Police Department      Abed     George      Pol Ofcr-Patrl         48.86
6114  Police Department    Abraha    Ytbarek    Parking Enf Ofcr         29.89

#####  From the 'Police_Dept_employees' DataFrame, index on 'Job Title'. Use the describe method to get descriptive stats on the column, including how many unique values were there.

In [74]:
Police_Dept_employees['Job Title'].descirbe()

AttributeError: 'Series' object has no attribute 'descirbe'

In [69]:
Police_Dept_employees['Hourly Rate '].describe()

count    1966.000000
mean       43.954639
std        11.697764
min        16.120000
25%        35.560000
50%        44.950000
75%        49.510000
max       127.680000
Name: Hourly Rate , dtype: float64

##### From the 'Police_Dept_employees' DataFrame index on the 'Hourly Rate ' column and apply the describe method.

In [82]:
Police_Dept_employees[Police_Dept_employees['Hourly Rate '] == 127.680000]

,Department,Last Name,First Name,Job Title,Hourly Rate
7486,Police Department,OToole,Kathleen,Seattle Police Chief,127.68

##### From the 'Police_Dept_employees' DataFrame, use boolean indexing to find who is earning the most money at the Police Department

In [81]:
Police_Dept_employees[Police_Dept_employees['Hourly Rate '] == Police_Dept_employees['Hourly Rate '].min()]

,Department,Last Name,First Name,Job Title,Hourly Rate
6192,Police Department,Bani Yaseen,Aissar,Cooperative Intern *,16.12

##### From the 'Police_Dept_employees' DataFrame, use boolean indexing to find who is earning the least money at the Police Department

In [83]:
Police_Dept_employees[Police_Dept_employees['Hourly Rate '] == 16.12]

,Department,Last Name,First Name,Job Title,Hourly Rate
6192,Police Department,Bani Yaseen,Aissar,Cooperative Intern *,16.12

## Pivot Tables

##### Generate a pivot table -- index on Department and Job Title, use Hourly Rate for the value(s). Save pivot table to varaible called 'wages_pivot'

##### Index the pivot table for jobs and the hourly rates in the Arts and Culture department. Save the output to a variable.

In [ ]:
wages_pivot[wages_pivot.index.get_level_values('Department') == 'Arts and Culture']

In [62]:
ArtsAndCulture = wages_pivot[wages_pivot.index.get_level_values('Department') == 'Arts and Culture']

##### Index the pivot table for jobs and the hourly rates in the City Light department. Save the output to a variable.

## Graphing

##### How many people work in the Arts and Culture department?

In [ ]:
ArtsAndCulture['Hourly Rate '].count()

##### Generate a histgram of the wages of employees in the Arts and Culture department.

In [ ]:
ArtsAndCulture.hist()

##### How many people work in the City Light department?

##### Generate a histgram of the wages of employees in the City Light department.

## Exporting

##### Find the present working directory.

##### Export the data in an excel file. The file will be saved in the present working directory.

In [ ]:
CityLight.to_excel('PythonPandasOutput.xlsx', sheet_name='Analysis')